<header class="header">
    <div class="logo">
        <h1>Accounting System</h1>
    </div>
    <nav class="navbar">
        <button routerLink="/">Home</button>
        <button routerLink="/about">About Us</button>
        <button routerLink="/storages" *ngIf="authService.isAuthenticated()">Storages</button>
        <div *ngIf="!authService.isAuthenticated()">
            <button routerLink = "/login">Login</button>
        </div>
        <div *ngIf="!authService.isAuthenticated()">
            <button routerLink = "/registration">Registration</button>
        </div>
        <div *ngIf="authService.isAuthenticated()">
            <button (click)="logout()">Logout</button>
        </div>
    </nav>
</header>